@import '../../assets/scss/core/functions';
@import '../../assets/scss/core/variables';

.skeleton {
    background: $bg-primary-color-tint-75;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.skeleton.grid {
    display: grid;
    grid-template-rows: repeat(7, minmax(80px, 100px));
    grid-template-columns: repeat(7, 1fr);
    grid-row-start: 1;
    grid-column-start: 1;
    padding-left: 4rem;
    padding: 0;
    margin-left: 60px;
    margin-bottom: 0;
    list-style-type: none;
    overflow: hidden;

    > .grid-cell {
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        background-color: $bg-primary-color-tint-75;
        position: relative;
        overflow: hidden;
        user-select: none;

        &:after  {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 60px;
            right: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(90deg, $bg-primary-color-tint-75, $bg-primary-color-tint-50, $bg-primary-color-tint-75);
            animation-name: loading-state;
            animation-direction: normal;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}



@keyframes loading-state {
    100% { 
        transform: translateX(100%);
    }
}