@import '../../../../../assets/scss/core/functions';
@import '../../../../../assets/scss/core/variables';

.slider-item {
    //max-width: 225px;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-align: center;

    .slider-image {
        border-radius: 29px;
    }

    .slider-description {
        margin-top: 1.25rem;
        //max-width: 222px;
        position: relative;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        &:before {
            content: ' ';
            background-image: url('../../../../../assets/imgs/quote-start.svg'), url('../../../../../assets/imgs/quote-end.svg');
            background-repeat: no-repeat, no-repeat;
            background-size: 35px 32px, 35px 32px;
            background-position: top left, bottom right;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        p {
            margin-bottom: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: left;
        }
    }

    .slider-label {
        color: $accent-color;
        font-weight: 500;
        font-size: 1.25rem;
        padding-left: 1rem;
    }
}