@import '../../../../assets/scss/core/functions';
@import '../../../../assets/scss/core/variables';
@import '../../../../assets/scss/core/mixins';

.bullets {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 300;
    padding-right: 1.5rem;

    img {
        width: 25px;
        height: 25px;
    }

    p {
        margin: 0;
    }
}

@include media-breakpoint-up(xl) { 
    .bullets {
        img {
            width: auto;
            height: auto;
        }
    }
}