@import '../../../assets/scss/core/functions';
@import '../../../assets/scss/core/variables';
@import '../../../assets/scss/core/mixins';

.navbar {
    color: $secondary-color;

    .navbar-brand > img {
        width: 50px;
        height: auto;
    }

    .navbar-nav {
        width: 25%;
        margin-top: 0.5rem;

        a.btn-link {
            border: 0;
            margin: 0.25rem 0;

            &.active {
                background-color: $secondary-color;
                color: $white;
                cursor: none;

                &:hover {
                    animation: none;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .navbar {
        .navbar-brand > img {
            width: 65px;
            height: auto;
        }

        .navbar-nav {
            width: inherit;
            margin: 0;

            a.btn-link {
                margin: 0 2.75rem;
            }
        }
    }
}