@import '../../../assets/scss/core/functions';
@import '../../../assets/scss/core/variables';
@import '../../../assets/scss/core/mixins';

.hero-section {
    background-color: $accent-color;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    &:before {
        content: ' ';
        background-image: url('../../../assets/imgs/hero_bg.svg');
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-position: 0 0;
        background-size: cover;
        max-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .hero-content {
        color: $secondary-color;
        z-index: 1;
        position: relative;
        padding: 0 1rem;

        .hero-title {
            font-size: 2rem;
        }

        .hero-subheader {
            font-size: 1.5rem;
            font-weight: 700;
            font-family: 'tenor sans';
            color: $accent-2-color;
        }

        .hero-text {
            font-size: 1rem;
            padding-right: 5rem;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(lg){
    .hero-section {

        &:after {
            content: ' ';
            background: url('../../../assets/imgs/hero_calendar_img2.svg');
            background-repeat: no-repeat;
            height: 75%;
            width: 58%;
            background-position: 0 0;
            background-size: contain;
            max-height: 100vh;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .hero-content {
            color: $secondary-color;
            padding: 0;
    
            .hero-title {
                font-size: 3rem;
            }
    
            .hero-subheader {
                font-size: 1.75rem;
            }
    
            .hero-text {
                font-size: 1.25rem;
                padding-right: 5rem;
            }
        }
    }

}

@include media-breakpoint-up(xl){ 
    .hero-section {

        .hero-content {
    
            .hero-title {
                font-size: 3.5rem;
            }
    
            .hero-subheader {
                font-size: 2rem;
            }
    
            .hero-text {
                font-size: 1.25rem;
                padding-right: 5rem;
            }
        }
    }
}