@import '../../../../assets/scss/core/functions';
@import '../../../../assets/scss/core/variables';
@import '../../../../assets/scss/core/mixins';

.grid-customer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 2rem;
    margin: 3rem 0;
}

@include media-breakpoint-up(md) {
    .grid-customer {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        grid-gap: 3rem;
        margin: 3rem 0;
    }

    .grid-sub-title {
        width: 150px;
    }
}

@include media-breakpoint-up(lg) {

    .grid-customer {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
        grid-gap: 3rem;
        margin: 3rem 0;
    }
    
    .grid-sub-title {
        width: 300px;
    }
}