@use "sass:string";
@import './../../../../assets/scss/core/functions';

@keyframes fade-in {
    from {
      transform: translate(0%, -40%);
      opacity: 0;
    }

    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
}

$event-colors: (
   #1EB2A6: #FFFFFF,
   #1C6DD0: #FFFFFF,
   #7743DB: #FFFFFF,
   #FF9B50: #FFFFFF,
   #FF5E78: #FFFFFF
) !default;

@each $bg-color, $color in $event-colors {
  $colorClass: string.slice(#{$bg-color}, 2, 7);

  .event-color-#{$colorClass} {
    color: $color;
    background-color: $bg-color;
  }
}