@use "sass:string";
@import './../../../../assets/scss/core/functions';

@keyframes fade-in {
    from {
      transform: translate(0%, -40%);
      opacity: 0;
    }

    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
}

$event-colors: (
   #1EB2A6,
   #1C6DD0,
   #7743DB,
   #FF9B50,
   #FF5E78
) !default;

@each $color in $event-colors {
  $colorClass: string.slice(#{$color}, 2, 7);
  .event-color-#{$colorClass} {
    background-color: $color;
  }
}